*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 28px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav img{
    display: block;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    padding: 1rem;
    margin-inline: 1rem;
}

.hero-img img{
    display: block;
    width: 100%;
}

.presentation{
    margin-top: 2rem;
    margin-inline: 4rem;
}

.presentation section{
    display: flex;
}

.presentation section img{
    display: block;
    padding: 0.5rem;
    width: 50%;
}

.presentation section p{
    text-align: justify;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    width: 50%;
}

h2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.solutions-slider{
    display: flex;
    margin-inline: 4rem;
}

.solutions-slider div{
    padding: 0 1rem;
    /* border: 1px solid #4d4d4d; */
}

.solutions-slider div img{
    display: block;
    width: 100%;
}

.solutions-slider div p{
    padding: 1rem 0;
}

.mission section{
    display: flex;
}